<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/content/main.css" />
        <title>Shelve</title>
    </head>
    <body>
        <h1 class="header">Shelve!</h1>
        <div id="shelveHeader"></div>
        <div class="shelve">
            <div class="overview">
                <h3 class="label">Lorem ipsum et amet</h3>
                <iframe width="80%" height="315" src="https://www.youtube.com/embed/KwzlOubNy64?controls=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Just a test project stub for fun!</p>
                <p class="tags"><span class="label">Tags:</span> Ipsum technology, Lorem genre</p>
            </div>
            <div class="overview">
                <h2>Lorem ipsum et amet</h2>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/KwzlOubNy64?controls=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Just a test project stub for fun!</p>
                <p class="tags"><span class="label">Tags:</span> Ipsum technology, Lorem genre</p>
            </div>
            <div class="overview">
                <h2>Lorem ipsum et amet</h2>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/KwzlOubNy64?controls=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Just a test project stub for fun!</p>
                <p class="tags"><span class="label">Tags:</span> Ipsum technology, Lorem genre</p>
            </div>
        </div>
        <div id="shelveFooter"></div>
    </body>
</html>