<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/content/main.css" />
        <title>Shelve</title>
    </head>
    <body>
        <h1 class="header">Shelve!</h1>
        <div class="overview">
            <h3 class="label">Lorem ipsum et amet</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KwzlOubNy64?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Just a test project stub for fun!</p>
            <p class="tags"><span class="label">Tags:</span> Ipsum technology, Lorem genre</p>
        </div>
        <div class="overview">
            <p>Lorem ipsum et amet</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KwzlOubNy64?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Just a test project stub for fun!</p>
            <p class="tags"><span class="label">Tags:</span> Ipsum technology, Lorem genre</p>
        </div>
    </body>
</html>