.header{
    font-weight: normal;
    font-style: italic;
}

#shelveHeader{
    width: 0;
    height: 0;
    border-bottom: 110px #a22a2a solid;
    border-left: 600px transparent solid;
    border-right: 600px transparent solid;
    margin:auto;
}

.shelve {
    overflow: hidden;
    border-radius: 5% 5% 0 0;
    background-color: #a22a2a;
}

.overview:first-of-type{
    margin-left: 1.1%;
}

.overview{
    padding: 0.5% 1% 0% 1%;
    width: 30%;
    float: left;
    margin: 1% 0.5% 0.5% 0.5%;
    background-color: #ff5500;
}

.overview iframe
{
    display: block;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6  {
    text-align: center;
}

.label {
    font-weight: bold;
    font-style: normal;
}

.tags {
    font-style: italic;
    margin: 0.5% -2.2% 0%;
    padding-left: 1%;
    padding-bottom: 0.5%;
    background-image: linear-gradient(#ff5500, #a22a2a);
}