.header{
    font-weight: normal;
    font-style: italic;
}

.overview{
    border: 2px solid brown;
    padding: 0.5% 1% 0% 1%;
    width: 45%;
    float: left;
    margin: 1%;
}

h1,h2,h3,h4,h5,h6  {
    text-align: center;
}

.label {
    font-weight: bold;
    font-style: normal;
}

.tags {
    font-style: italic;
    /* border: 2px solid brown; */
    margin: 0.5% -2%;
    background-color: bisque
}